Django>=5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
python-dotenv>=1.0
celery>=5.3
redis>=5.0
google-generativeai>=0.8
google-api-python-client>=2.120.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
cryptography>=42.0.0
psycopg2-binary>=2.9.9
pandas>=2.0.0
